* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  background-image: url("https://img.freepik.com/free-vector/national-doctor-s-day-hand-drawn-background_23-2149438164.jpg?w=826&t=st=1684473717~exp=1684474317~hmac=9170debd6034a8fcfe601fb924d1cafb222a392dc7e2498b0cb619b38ed7dd41");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  max-width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container p {
  margin-bottom: 20px;
  color: #555;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="password"],
.form-container button[type="submit"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}

/* .form-container .back-link {
  text-align: center;
  margin-top: 10px;
}

.form-container .back-link a {
  color: #007bff;
  text-decoration: none;
} */
